<h2 style="text-align:center">
    Tournaments:
</h2>
<table style="width:100%">
  <tr style="center">
    <th>Tournament</th>
    <th>Buy In</th>
    <th>Players</th>
    <% if @user == current_user %>
      <th>Total Won</th>
      <th>Profit</th>
      <th>ROI</th>
    <% end %>
  </tr>
  <% tournaments.each do |tourney| %>
  <tr style="text-align:center">
    <td>
        <%= link_to tourney.name, tournament_path(tourney) %>
    </td>
    
    <td>
       <% cost = tourney.buy_in %>
       $<%= cost %>
    </td>

    <td>
      <%= tourney.users.length %>
    </td>
    <% if @user == current_user %>
      <%= form_tag user_update_won_path(current_user) %>
      <td>
        $<%= text_field_tag( "tournament[winnings][#{tourney.id}]", Tracker.won_total(current_user, tourney)) %> <%= link_to 'X', "/users/#{@user.id}/tournaments/#{tourney.id}", method: "delete" %>
      </td>

      <td>
        <% number_attempts = Tracker.tourney_user_length(tourney, @user) %>
        <%= Tracker.won_total(@user, tourney) - (tourney.buy_in * number_attempts) %>
      </td>

      <td>
        <%= Tracker.roi_total(@user, tourney) %>
      </td>
    <% end %>
  </tr>
  <% end %>
<div style = 'text-align:center'>
  <%= button_to 'Save', action: 'update' if @user == current_user %>
</div>
</table>
