<h2 style="text-align:center">
    Tournaments:
</h2>
<table style="width:100%">
  <tr style="center">
    <th>Tournament</th>
    <th>Buy In</th>
    <th>Players</th>
    <% if @user %>
      <th>Total Won</th>
      <th>Profit</th>
    <% end %>
  </tr>
  <% tournaments.each do |tourney| %>
  <tr style="text-align:center">
    <td>
        <%= link_to tourney.name, tournament_path(tourney) %>
    </td>
    
    <td>
       <% cost = tourney.buy_in %>
       $<%= cost %>
    </td>

    <td>
      <%= tourney.users.length %>
    </td>
    <% if @user %>
      <td>
        $<%= Tracker.won_total(@user, tourney) %>
      </td>

      <td>
        <% number_attempts = Tracker.tourney_user_length(tourney, @user) %>
        <%= Tracker.won_total(@user, tourney) - (tourney.buy_in * number_attempts) %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>