<h2 style="text-align:center">
    Tournaments:
</h2>
<table class='striped'>
  <tr>
    <th>Tournament</th>
    <th>Buy In</th>
    <th>Players</th>
    <% if @user == current_user %>
      <th>Total Won</th>
      <th>Profit</th>
      <th>ROI</th>
    <% end %>
  </tr>
  <% tournaments.each do |tourney| %>
  <tr >
    <td>
        <%= link_to tourney.name, tournament_path(tourney) %>
    </td>
    
    <td>
       <% cost = tourney.buy_in %>
       $<%= cost %>
    </td>

    <td>
      <%= tourney.users.length %>
    </td>
    <% if @user == current_user %>
      <%= form_tag user_update_won_path(current_user) %>
      <td>
        <div class='input-field inline'>
          <%= text_field_tag( "tournament[winnings][#{tourney.id}]", Tracker.won_total(current_user, tourney)) %>
        </div>
      </td>

      <td>
        <% number_attempts = Tracker.tourney_user_length(tourney, @user) %>
        <%= Tracker.won_total(@user, tourney) - (tourney.buy_in * number_attempts) %>
      </td>

      <td>
        <%= Tracker.roi_total(@user, tourney) %>
      </td>
    <% end %>
  </tr>
  <% end %>
<div class='center'>
  <%= button_to('Save', action: 'update') if @user == current_user && tournaments %>
</div>
</table>
