<h2 style="text-align:center">
    Cash Games:
</h2>
<table style="width:100%">
  <tr style="center">
    <th>Table</th>
    <th>Stake</th>
    <th>Players</th>
    <th>Poker Site</th>
    <% unless @user.nil? %>
        <th>buy_in</th>
        <th>Income</th>
        <th>Profit</th>
    <% end %>
  </tr>

  <% cash_games.each do |cash| %>
  <tr style="text-align:center">

    <td>
        <%= link_to cash.name, cash_game_path(cash) %>
    </td>
    
    <td>
        <%= cash.stake %>
    </td>

    <td>
        <%= cash.users.length %>/<%= cash.max_players %>
    </td>
    
    <td>
        <%= cash.poker_site.name%>
    </td>
    
    <% unless @user.nil? %>
        <td>
        <% cost = cash.buy_in %>
        $<%= cost %>
        </td>
        <% game = Game.find_by(user_id: @user.id, game_type_type: "CashGame", game_type_id: cash.id) %>
        <td>     
            <% income = game.won %>
            $<%= income %>
        </td>
        
        <td>
            <%= income - cost %>
        </td>
    <% end %>
  </tr>
  <% end %>
</table>