<div>

<h1>Bankroll Manager</h1>

    <p>Bankroll Manager is an app that helps user keep track of their bankroll. The user signs up and adds a bankroll. Then they are able to monitor their buy-ins and receive suggestions on which buy-ins are appropriate for their bankroll. This app allows users to easily monitor their bankroll. Having good bankroll management is the first step to becoming a profitable poker player. Currently this app uses an article from <%= link_to "my poker coaching's website" ,'https://www.mypokercoaching.com/poker-bankroll-management-strategy-tips/' %> for it's bankroll management strategy. 
    <br>
    <br>
    <strong>If you or someone you know has a gambling problem and wants help, call 1-800-Gambler.</strong>
    <br>
    <br>
    This app was developed using the rails framework. If you would like to learn more about rails, please visit <%=  link_to 'ruby on rails website', 'https://rubyonrails.org/'%>.

    </p>
</div>

<h4>USERS:</h4>
<ol>
<% User.all.each do |user| %>
    <li>
        <br>
        <ul>
        <% user.attributes.each do |key, value| %>
            <li>
                <%= key %>: <%= value %>
            </li>
        <% end %>
        </ul>
    </li>
<% end %>
</ol>

<br>

<h4>Tournaments:</h4>
<ol>
<% Tournament.all.each do |tournament| %>
    <li>
        <br>
        <ul>
        <% tournament.attributes.each do |key, value| %>
            <li>
                <%= key %>: <%= value %>
            </li>
        <% end %>
        </ul>
    </li>
<% end %>
</ol>
<br>

<h4>CashGames:</h4>
<ol>
<% CashGame.all.each do |cash| %>
    <li>
        <br>
        <ul>
        <% cash.attributes.each do |key, value| %>
            <li>
                <%= key %>: <%= value %>
            </li>
        <% end %>
        </ul>
    </li>
<% end %>
</ol>
<br>

<h4>Game:</h4>
<ol>
<% Game.all.each do |game| %>
    <li>
        <br>
        <ul>
        <% game.attributes.each do |key, value| %>
            <li>
                <%= key %>: <%= value %>
            </li>
        <% end %>
        </ul>
    </li>
<% end %>
</ol>
<br>

<h4>Poker Sites:</h4>
<ol>
<% PokerSite.all.each do |site| %>
    <li>
        <br>
        <ul>
        <% site.attributes.each do |key, value| %>
            <li>
                <%= key %>: <%= value %>
            </li>
        <% end %>
        </ul>
    </li>
<% end %>
</ol>
