<!DOCTYPE html>
<html>
  <head>
    <title>BankrollManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Navigation -->
  <% if user_signed_in? %>
    <%= link_to 'HOME', root_url %><br>                                 
    <%= link_to 'PROFILE', user_path(current_user) %><br>
    <%= link_to 'My Tournaments', user_tournaments_path(current_user) %> <br>
    <%= link_to 'My Cash Games', user_cash_games_path(current_user) %> <br>
    <%= link_to 'All Tournaments', tournaments_path %> <br>
    <%= link_to 'All Cash Games', cash_games_path %> <br>
    <%= link_to 'LOG OUT', destroy_user_session_path, method: 'delete' %><br>
  <% else %>
    <%= link_to 'LOG IN', new_user_session_path %><br>
    <%= link_to 'SIGN UP', new_user_registration_path %><br>
  <% end %>
  
  <!-- END - Navigation --> 

  <body>
    <%= yield %>
  </body>
</html>
